@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto'), local('Roboto-Regular'),
    url(fonts/Roboto.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto Condensed'), local('RobotoCondensed-Regular'),
    url(fonts/Roboto_Condensed.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(fonts/Comfortaa.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

html {
  font-family: 'Roboto';
  color: #f7f8f3;
  background-color: #002c3e;
}
body {
  margin: 0 auto;
}

#container {
  max-width: 2000px;
}

#headerLogo {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.1em;
}
#headerMenu {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 64px;
}

#main {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: start;
  margin: 0 auto 100px;
  box-shadow: 0 0.5rem 0.75rem rgba(0, 0, 0, 0.25);
  /* box-shadow: 0px 20px 30px 5px rgba(0, 0, 0, 0.1); */
}
.footer {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: default;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  margin: 0;
  box-shadow: 0px -4px 5px 0px rgba(0, 0, 0, 0.3);
  padding: 0;
  height: 64px;
  background-color: #002c3e;

  transition: all 0.6s ease-out;
}

.is-hidden {
  transition: all 0.3s ease-out;
  opacity: 0;
}
.is-visible {
  opacity: 1;
}

.selectedNav {
  border-radius: 0px;
}
@media (min-width: 768px) {
  .selectedNavText {
    padding: 3px;
    border-bottom: 2px solid #b55a84;
    text-transform: uppercase;
  }
}

/* #pic {
  background-image: url(img/webdev.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-blend-mode: inherit;
  background-position-x: center;
  flex-shrink: 0;
  height: 100px;
  width: 135px;
} */

.navlinks {
  margin: 0;
  list-style: none;
  padding: 0;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}

.navlinks li {
  margin: 5px;
}

.navlinks li a {
  text-decoration: none;
  text-align: center;
  color: #f7f8f3;
  padding: 0.5em 0.7em;
  margin: 1em;
  display: block;
  border-radius: 8px;
  border-top-right-radius: 2px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 5px;
  width: 127px;
}

.navlinks li a:hover {
  background: #b55a84;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.6s ease-out;
}
.navlinks li a:active {
  background: #b55a84;
}

#mainName {
  font-family: 'Comfortaa';
  /* padding-bottom: 10px; */
  text-transform: uppercase;
  color: #d0cde1;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  flex-flow: row;
  align-items: center;
  flex-wrap: wrap;
}

#mainName h1 {
  font-size: 3.2rem;
  margin: 0;
  letter-spacing: 0.15rem;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

#mainName h1 span {
  color: #b55a84;
  font-family: 'roboto condensed';
}

.degree {
  margin: 0;
  font-family: 'roboto condensed';
  padding-bottom: 50px;
  color: #b55a84;
  font-size: 20px;
}

#smallMe {
  box-shadow: 3px 3px 5px#002533;
  border-radius: 50%;
  width: 130px;
  height: 130px;
  padding: 2px;
  cursor: pointer;
}

#smallMe:hover,
#smallMe:focus {
  border-radius: 50%;
  box-shadow: 0 0 9px #00090d;
  opacity: 1;
  transition: 0.2s;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 50vw;
  top: 50vh;
  margin-top: -260px;
  margin-left: -260px;
  background-color: #002839;
  border-radius: 7px;
}

.modal-content {
  margin: 30px;
  display: block;
  border-radius: 7px;
  max-width: 90%;
}

.modal-content {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}
@keyframes zoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

#close {
  position: absolute;
  top: 15px;
  right: 35px;
  font-size: 50px;
  font-weight: bold;
  transition: 0.5s;
}

#close:hover,
#close:focus {
  color: #b55a84;
  text-decoration: none;
  cursor: pointer;
}

.description {
  width: 90%;
  margin-bottom: 20px;
  letter-spacing: 2px;
  color: #f7f8f3;
  text-align: left;
  font-size: 18px;
}

.description p {
  margin: 0 0 8px;
}

#smallMe {
  margin: 20px 20px 20px 0;
}

#footerButton {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
#footerIcon {
  height: 24px;
  width: 24px;
  background-image: url(img/info-icon.png);
  background-repeat: no-repeat;
  background-position: center;
}

#footerText {
  margin-top: 2px;
  color: #b55a84;
  margin-bottom: 0;
}

#footerButton {
  position: relative;
}
#footerButton:after {
  content: attr(data-tooltip);
  width: 300px;
  position: absolute;
  bottom: 130%;
  left: 40%;
  background: #b55a84;
  padding: 5px 15px;
  color: #f7f8f3;
  border-radius: 10px;
  opacity: 0;
  transition: all 0.5s ease;
  font-size: 1em;
  letter-spacing: 1px;
}
#footerButton:hover:after {
  bottom: 97%;
}
#footerButton:hover:before {
  bottom: 70%;
}
#footerButton:hover:after,
a:hover:before {
  opacity: 1;
  transition: 0.5s ease;
}

#burgerMenu {
  display: none;
}

.ipad-img-box {
  display: none;
}
.ipad-pro-img-box {
  display: none;
}

.section-img-box {
  display: flex;
  max-height: 318px;
  margin: 80px auto 80px;
}

.section-img {
  height: 33px;
  margin: 0 auto;
}

.section-container {
  /* max-width: 600px; */
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
}

.container-header {
  font-family: 'roboto';
  color: #b55a84;
  margin-bottom: 60px;
  letter-spacing: 2px;
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;
  font-size: 32px;
}

.card-header {
  font-family: 'roboto';
  padding: 16px;
  margin: 0;
  color: #f7f8f3;
  font-weight: normal;
  letter-spacing: 0.15rem;
  cursor: pointer;
  position: relative;
  height: 40px;
  line-height: 40px;
  /* background-image: url(/img/link-24px.svg); */
  background-repeat: no-repeat;
  background-position: left center;
  /* padding-left: 26px; */
  margin-left: 10px;
  font-size: 22px;
}

.section-card {
  margin: 0 50px 50px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  justify-content: space-around;
  align-items: center;
  padding: 16px;
}

#theme-card {
  margin: 0 auto;
  max-width: 570px;
  display: flex;
  flex-direction: column;
  justify-content: start;
}
#theme-card figure {
  max-width: 570px;
  margin-top: 0;
}

#theme-card img {
  max-height: 312px;
  max-width: 100%;
  margin: 0 auto;
  border: 1px solid #173e4d;
}

.card-header a {
  text-decoration: none;
  color: #b55a84;
  text-align: left;
  text-decoration: underline;
}

.iframe-border {
  margin: auto;
  border-radius: 26px;
  border: 12px solid #000;
  border-top-width: 40px;
  border-bottom-width: 40px;
  /* flex-grow: 1; */
  max-width: 380px;
  height: 540px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

iframe {
  padding: 0;
  overflow: hidden;
  border: 1px solid #173e4d;
  width: 100%;
  height: 100%;
}

/* body:last-of-type {
  margin-bottom: 100px;
} */

.small-description {
  display: none;
}

figcaption {
  font-style: italic;
  font-size: 16px;
  color: #b55a84;
}

.contact-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto;
}
.contact-container img {
  height: 150px;
  margin: 40px;
}

#lin-badge {
  margin: 16px auto 19px;
}

.contact {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.contact p a {
  font-size: 21px;
  padding: 20px;
  color: #b55a84;
}

.contact p {
  margin: 10px;
}

#github {
  background: url(img/pinned-octocat.svg) center center no-repeat;
  background-size: 26px 26px;
}
#insta {
  background: url(img/insta-icon.svg) center center no-repeat;
  background-size: 26px 26px;
}
#xing {
  background: url(img/xing-logo.svg) center center no-repeat;
  background-size: 26px 26px;
}

#mail {
  text-align: center;
  color: #b55a84;
  padding-bottom: calc(100vh - 304px);
}

#cRankWidgetContainer {
  max-width: 320px;
  margin: auto;
}

@media (max-width: 1365px) {
  .ipad-pro-img-box {
    display: flex;
    width: 100vw;
    align-items: flex-end;
  }
  .ipad-img {
    max-height: 580px;
    width: 100%;
    /* height: 100%; */
    margin: auto;
  }
  #main {
    background: none;
  }
  #main {
    align-items: center;
    padding-top: 50px;
    justify-content: space-between;
  }

  #mainName {
    flex-flow: column;
    text-align: center;
    margin-left: 18px;
    margin-right: 18px;
  }

  #mainName h1 {
    font-size: 3rem;
  }

  .description {
    text-align: center;
    margin-left: 38px;
    margin-right: 38px;
    font-size: 16px;
  }

  .degree {
    text-align: center;
    margin-left: 38px;
    margin-right: 38px;
  }

  #smallMe {
    margin: 20px;
  }

  #footerButton:after {
    width: 260px;
  }

  #footerText {
    margin: 0;
  }
}

@media (max-width: 767px) {
  .ipad-img-box {
    display: flex;
    width: 100vw;
    align-items: flex-end;
    max-height: 433px;
  }
  .ipad-img {
    max-height: 433px;
  }
  .ipad-pro-img-box {
    display: none;
  }

  .iframe-border {
    height: 410px;
  }

  .small-description {
    display: block;
  }
  .big-description {
    display: none;
  }

  .card-header {
    font-size: 18px;
  }

  #main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  #headerMenu {
    justify-content: flex-end;
    position: sticky;
    top: 0;
    background-color: #002839;
    z-index: 1;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3);
  }

  .navlinks {
    display: none;
  }

  .navlinks li {
    align-self: flex-end;
    margin: 3px;
  }

  .navlinks li a {
    color: #b55a84;
    margin: 0.5em 1em;
    border-radius: 4px;
    width: 120px;
    height: 35px;
    line-height: 35px;
    border: 1px solid #b55a84;
    transition: all 0.5s;
  }
  .navlinks li a:hover,
  .navlinks li a:active {
    color: #002839;
    background: #b55a84;
  }

  #burgerMenu {
    display: block;
    cursor: pointer;
    align-self: flex-end;
  }

  #burgerMenu img {
    height: 40px;
    margin: 12px 1rem;
  }

  #headerMenu nav {
    display: flex;
    flex-flow: column nowrap;
    align-content: center;
  }

  .navlinksToggleShow {
    /* muss noch transition, 
    sollte mit height 0-x oder opacity 0-1 gehen */
    background-color: #002839;
    display: flex;
    flex-flow: column;
    z-index: 2;
    border-radius: 0%;
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3);
    padding-bottom: 8px;
  }

  .modal {
    left: calc(50vw - 145px);
    top: calc(50vh - 145px);
    margin-top: 0;
    margin-left: 0;
  }

  .modal-content {
    margin: 15px;
    width: 260px;
  }

  #close {
    top: 5px;
    right: 20px;
  }

  #footerButton:after {
    width: 140px;
  }
}

@media (min-width: 768px) {
  #headerMenu {
    align-items: flex-start;
    z-index: 9;
    position: sticky;
    top: 0;
  }
  nav {
    width: 100%;
    background-color: #002839;
  }
  .navlinks {
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.25);
    height: 64px;
  }
  #main {
    min-height: calc(100vh - 128px);
  }
}

@media (min-width: 1366px) {
  #main {
    padding-left: 100px;
  }
}

@media (min-width: 1366px) {
  #main {
    background-image: url('img/main_bg_1366.png');
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: contain;
  }
  #mainName h1 {
    font-size: 3rem;
  }
  .description {
    font-size: 16px;
  }
}

@media (max-width: 1919px) and (min-width: 1500px) {
  #main {
    background-image: url('img/main_bg_1366.png');
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: auto;
  }
}

@media (min-width: 1920px) {
  #main {
    background-image: url('img/main_bg_1920.png');
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: contain;
  }
}

@media (min-width: 2400px) {
  #main {
    background-image: url('img/main_bg_1920.png');
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: auto;
  }
}

@media (min-width: 2500px) {
  #main {
    padding-left: 200px;
  }
}
@media (min-width: 4000px) {
  #main {
    padding-left: 0;
    align-items: center;
  }
  .description {
    text-align: center;
  }
}

@media (max-width: 632px) {
  .section-card,
  .container-header {
    margin-left: 15px;
    margin-right: 15px;
  }
}
