@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto'), local('Roboto-Regular'),
    url(fonts/Roboto.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Roboto Medium'), local('Roboto-Medium'),
    url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmEU9fBBc4.woff2)
      format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Condensed'), local('RobotoCondensed-Regular'),
    url(fonts/Roboto_Condensed.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(fonts/Comfortaa.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

html {
  font-family: 'Roboto';
  color: #f7f8f3;
  background-color: #002c3e;
}
body {
  margin: 0 auto;
}

#container {
  max-width: 2000px;
}

#headerLogo {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.1em;
}
#headerMenu {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 64px;
}

#main {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: start;
  margin: 0 auto 100px;
  /* box-shadow: 0 0.5rem 0.75rem rgba(0, 0, 0, 0.25); */
  box-shadow: 0px 40px 25px 5px rgba(0, 0, 0, 0.1);
}
#footer {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: default;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  margin: 0;
  box-shadow: 0px -4px 5px 0px rgba(0, 0, 0, 0.3);
  padding: 0;
  height: 64px;
  background-color: #002839;
}

#selectedNav {
  pointer-events: none;
  border-radius: 0px;
}
#selectedNavText {
  padding: 3px;
  border-bottom: 2px solid #9e4770;
  text-transform: uppercase;
}

/* #pic {
  background-image: url(img/webdev.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-blend-mode: inherit;
  background-position-x: center;
  flex-shrink: 0;
  height: 100px;
  width: 135px;
} */

.navlinks {
  margin: 0;
  list-style: none;
  padding: 0;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}

.navlinks li {
  margin: 5px;
}

.navlinks li a {
  text-decoration: none;
  text-align: center;
  color: #f7f8f3;
  padding: 0.5em 0.7em;
  margin: 1em;
  display: block;
  border-radius: 8px;
  border-top-right-radius: 2px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 5px;
  width: 127px;
}

.navlinks li a:hover,
.navlinks li a:focus {
  background: #9e4770;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.6s ease-out;
}
.navlinks li a:active {
  background: #cb3840;
}

#mainName {
  font-family: 'Comfortaa';
  font-size: 4.2rem;
  padding-bottom: 20px;
  text-transform: uppercase;
  color: #d0cde1;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  flex-flow: row;
  align-items: center;
  flex-wrap: wrap;
}

#mainName p {
  margin: 0;
  letter-spacing: 0.1em;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

#mainName p span {
  color: #9e4770;
  font-family: 'roboto condensed';
}

#smallMe {
  box-shadow: 3px 3px 5px#002533;
  border-radius: 50%;
  width: 140px;
  height: 140px;
  padding: 2px;
  cursor: pointer;
}

#smallMe:hover,
#smallMe:focus {
  border-radius: 50%;
  box-shadow: 0 0 9px #00090d;
  opacity: 1;
  transition: 0.2s;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 50vw;
  top: 50vh;
  margin-top: -260px;
  margin-left: -260px;
  background-color: #002839;
  border-radius: 7px;
}

.modal-content {
  margin: 30px;
  display: block;
  border-radius: 7px;
  max-width: 90%;
}

.modal-content {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}
@keyframes zoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

#close {
  position: absolute;
  top: 15px;
  right: 35px;
  font-size: 50px;
  font-weight: bold;
  transition: 0.5s;
}

#close:hover,
#close:focus {
  color: #9e4770;
  text-decoration: none;
  cursor: pointer;
}

#description {
  /* font-family: 'Roboto Condensed'; */
  width: 90%;
  margin-bottom: 20px;
  font-size: 24px;
  letter-spacing: 2px;
  color: #f7f8f3;
  text-align: left;
}

#smallMe {
  margin: 20px 20px 20px 0;
}

#footerButton {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
#footerIcon {
  height: 24px;
  width: 24px;
  background-image: url(img/info-icon.png);
  /* background-size: 100%; */
  background-repeat: no-repeat;
  background-position: center;
  color: #f7f8f3;
  /* margin-left: 20% */
}
#footerText {
  margin-top: 2px;
  color: #f7f8f3;
  margin-bottom: 0;
}

#footerButton {
  position: relative;
}
#footerButton:after {
  content: attr(data-tooltip);
  width: 300px;
  position: absolute;
  bottom: 130%;
  left: 40%;
  background: #9e4770;
  padding: 5px 15px;
  color: #f7f8f3;
  border-radius: 10px;
  opacity: 0;
  transition: all 0.5s ease;
  font-size: 1em;
  letter-spacing: 1px;
}
#footerButton:hover:after {
  bottom: 100%;
}
#footerButton:hover:before {
  bottom: 70%;
}
#footerButton:hover:after,
a:hover:before {
  opacity: 1;
}

#burgerMenu {
  display: none;
}

.ipad-img-box {
  display: none;
}
.ipad-pro-img-box {
  display: none;
}

@media (max-width: 1365px) {
  .ipad-pro-img-box {
    display: block;
    width: 100vw;
  }
  .ipad-img {
    max-height: 580px;
    width: 100%;
    /* height: 100%; */
    margin: auto;
  }
  #main {
    background: none;
  }
  #main {
    align-items: center;
    margin: 0 auto 100px;
    padding-top: 50px;
    justify-content: space-between;
  }

  #mainName {
    flex-flow: column;
    text-align: center;
    margin-left: 18px;
    margin-right: 18px;
    font-size: 3.4rem;
  }
  #description {
    text-align: center;
    margin-left: 18px;
    margin-right: 18px;
    font-size: 20px;
  }
  #smallMe {
    margin: 20px;
  }

  #footerButton:after {
    width: 260px;
  }

  #footerText {
    margin: 0;
  }
  #description,
  #mainName p {
    margin: 0 auto;
  }
}
@media (max-width: 767px) {
  #description,
  #mainName p {
    text-align: center;
  }
  #selectedNav {
    display: none;
  }

  #main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  #headerMenu {
    justify-content: flex-end;
    position: sticky;
    top: 0;
    background-color: #002839;
    z-index: 1;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3);
    height: 56px;
  }

  .navlinks {
    display: none;
  }

  .navlinks li {
    align-self: flex-end;
  }

  .navlinks li a {
    color: #9e4770;
    margin: 0.5em;
    margin-right: 1em;
    margin-left: 1em;
    border-radius: 0;
    width: 120px;
    height: 35px;
    line-height: 35px;
    border: 1px solid #9e4770;
    transition: all 0.5s;
  }
  .navlinks li a:hover,
  .navlinks li a:focus {
    color: #002839;
  }
  .navlinks li a:active {
    background: #cb3840;
  }

  #burgerMenu {
    display: block;
    cursor: pointer;
    align-self: flex-end;
  }

  #burgerMenu img {
    height: 40px;
    margin: 0em 1em;
  }

  #headerMenu nav {
    display: flex;
    flex-flow: column nowrap;
    align-content: center;
  }

  .navlinksToggleShow {
    /* muss noch transition, 
    sollte mit height 0-x oder opacity 0-1 gehen */
    background-color: #002839;
    display: flex;
    flex-flow: column;
    z-index: 2;
    border-radius: 0%;
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3);
  }

  #mainName {
    font-size: 2.7em;
  }
  #description {
    font-size: 0.9em;
  }

  .modal {
    left: calc(50vw - 145px);
    top: calc(50vh - 145px);
    margin-top: 0;
    margin-left: 0;
  }

  .modal-content {
    margin: 15px;
    width: 260px;
  }

  #close {
    top: 5px;
    right: 20px;
  }

  #footer {
    height: 56px;
  }

  #footerButton:after {
    width: 140px;
  }
}

@media (min-width: 767px) {
  #headerMenu {
    align-items: flex-start;
    z-index: 9;
    position: sticky;
    top: 0;
  }
  nav {
    width: 100%;
    background-color: #002839;
  }
  .navlinks {
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.25);
    height: 64px;
  }
  .navlinks li a {
    font-size: 1.3rem;
  }
  #main {
    min-height: calc(100vh - 128px);
  }
}

@media (min-width: 1366px) {
  #main {
    padding-left: 100px;
  }
}

@media (max-width: 1919px) and (min-width: 1366px) {
  #main {
    background-image: url('img/main_bg_1366.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
  }
  #description {
    font-size: 1rem;
  }
  #mainName p {
    font-size: 3rem;
  }
  .navlinks li a {
    font-size: 1.1rem;
  }
}

@media (min-width: 1920px) {
  #main {
    background-image: url('img/main_bg_1920.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
  }
}

@media (max-width: 768px) {
  .ipad-img-box {
    display: block;
    max-height: 433px;
    width: 100vw;
  }
  .ipad-pro-img-box {
    display: none;
  }
}

/* für später: kontakt-card
dust storm: #E0D0C1  
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
*/
