@import url('https://fonts.googleapis.com/css?family=Comfortaa|Roboto|Roboto+Condensed&display=swap');

html {
  font-family: 'Roboto';
  color: #f7f8f3;
  background-color: #002c3e;
}
body {
  margin: 0 auto;
}

#wrapper {
  display: grid;
  grid-template-columns: 20vw 60vw 20vw;
  grid-template-rows: 20vh 65vh 15vh;
  grid-template-areas: "headerLogo headerMenu ."
                       ". main ."
                       ". footer ."
}

#headerLogo {
  grid-area: headerLogo;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.1em;
}
#headerMenu {
  grid-area: headerMenu;
  display: flex;
  align-items: center;
  justify-content: center;
}
#main {
  grid-area: main;
}

#footer {
  grid-area: footer;
}
#main, #footer {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: default;
  margin: 1em auto;
}

#pic{
  background-image: url(src/webdev.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-blend-mode: inherit;
  background-position-x: center;
  display: block;
  height: 200px;
  width: 270px;
}

#footerButton {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
#footerIcon {
  height: 2em;
  width: 60%;
  background-image: url(src/downarrow.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  color: #f7f8f3;
  margin-left: 20%
}
#footer p {
  margin-top: 2px;
  font-size: 1.1em;
}
#footerButton a p {
  text-decoration: none;
  color: #f7444e;
}

.navlinks {
  margin: 0;
  list-style: none;
  padding: 0;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}

#footerButton a {
  text-decoration: none;
  text-align: center;
  color: #f7f8f3;
}

.navlinks li a {
  text-decoration: none;
  text-align: center;
  color: #f7f8f3;
  padding: 1em;
  margin: 1em;
  display: block;
  font-size: 1.1em;
  text-transform: uppercase;
  border-radius: 30px
}

.navlinks li a:hover,
.navlinks li a:focus {
  background: #f7444e;
}

#footerButton p:hover {
  font-size: 1.2em;
}

#mainName {
  font-family: 'Comfortaa';
  font-size: 3.6em;
  padding-bottom: 20px;
  text-transform: uppercase;
  color: #d0cde1;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  flex-flow: row;
  align-items: center;
}

#mainName p {
  margin: 0;
  letter-spacing: 0.1em;
  padding-left: 10px;
}

#mainName img {
  box-shadow: 3px 3px 5px#00212f;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  padding: 2px;
  transition: 0.3s;
  cursor: pointer;
}

#mainName img:hover,
#mainName img:focus {
  box-shadow: 0 0 7px #173b4b;
  border-radius: 50%;
  opacity: 0.8;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 50%;
  top: 50%;
  margin-top: -230px;
  margin-left: -230px;
  background-color: #00212f;
  border-radius: 7px;
}

.modal-content {
  margin: 30px;
  display: block;
  border-radius: 7px;
  max-width: 90%;
}

#caption {
  margin: auto;
  display: block;
  width: 100%;
  max-width: 700px;
  text-align: center;
  font-size: 1.2em;
  position: absolute;
  top: 90%;
  font-family: 'Comfortaa';
  opacity: 0.4;
}

.modal-content,
#caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}
@keyframes zoom {
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}

#close {
  position: absolute;
  top: 15px;
  right: 35px;
  font-size: 50px;
  font-weight: bold;
  transition: 0.3s;
}

#close:hover,
#close:focus {
  color: #f7444e;
  text-decoration: none;
  cursor: pointer;
}

#description {
  width: 80%;
}

@media (max-width: 1024px) {
  #wrapper {
    display: grid;
    grid-template-columns: 15vw 75vw 10vw;
    grid-template-rows: 3em auto 3em;
    grid-template-areas: "headerMenu headerMenu headerMenu"
                         "main main main"
                         "footer footer footer"
  }
  .navlinks li a {
    margin: 1em 0;
  }
  #mainName {
    flex-flow: column;
  }
}
@media (max-width: 600px) {
  #wrapper {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 3em auto 3em;
    grid-template-areas: "headerMenu"
                         "main"
                         "footer";
  }
  .navlinks li a {
    margin: 1em 0 0.5em 0;
  }
}

